<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-autowire="byName">
	<context:component-scan base-package="com.sokeeper.web"  />
	<context:component-scan base-package="com.sokeeper.service"  />
	<!-- property loader -->
	<bean id="webPropertyPlaceholderConfigurer"
		class="com.sokeeper.util.PropertyPlaceholderConfigurer">
		<property name="placeholderPrefix" value="${web." />
		<property name="locations">
			<list>
				<value>classpath:/web.properties</value>
			</list>
		</property>
	</bean>

	<!-- message loader -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n_web" />
	</bean>

    <!-- CoC for controller classes -->
	<bean
		class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping">
		<property name="caseSensitive"  value="true" />
		<property name="basePackage"    value="com.sokeeper.web.controller" />
		<property name="defaultHandler" value="homeController" />
		<property name="interceptors">
			<list>
				<ref bean="authInterceptor" />
			</list>
		</property>
	</bean>
    <!--  shared velocity engine which will be used by email and page presentation -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="resourceLoaderPath" value="${web.velocity.resourceLoaderPath}"         />
		<property name="preferFileSystemAccess" value="${web.velocity.preferFileSystemAccess}" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">${web.input.encoding}</prop>
				<prop key="output.encoding">${web.output.encoding}</prop>
				<prop key="file.resource.loader.cache">false</prop>
				<prop key="file.resource.loader.modificationCheckInterval">2</prop>
				<prop key="velocimacro.library">macro.vm</prop>
			</props>
		</property>
	</bean>
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="velocityEngine" ref="velocityEngine" />
	</bean>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="exposeSpringMacroHelpers" value="true"           />
		<property name="suffix" value=".vm"                              />
		<property name="layoutUrl" value="layout/default.vm"             />
		<property name="contentType" value="text/html;charset=utf-8"     />
		<property name="toolboxConfigLocation"    value="WEB-INF/classes/vm-toolbox.xml" />
	</bean>
</beans>