<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-autowire="byName">
	<bean id="serverPropertyPlaceholderConfigurer"
		class="com.sokeeper.util.PropertyPlaceholderConfigurer">
		<property name="placeholderPrefix" value="${server." />
		<property name="locations">
			<list>
				<value>classpath:/server.properties</value>
			</list>
		</property>
	</bean>

	<bean id="server" class="com.sokeeper.server.Server" init-method="startup" destroy-method="shutdown">
		<property name="enableLocalHost" value="${server.enableLocalHost}"    />
		<property name="serverIp"        value="${server.serverIp}"           />
		<property name="serverPort"      value="${server.serverPort}"         />
		<property name="nodeOnlineStatusService">
			<ref bean="nodeOnlineStatusService" />
		</property>
		<property name="persistedConfigurationService">
			<ref bean="persistedConfigurationService" />
		</property>
		<property name="changesService">
			<ref bean="changesService" />
		</property>
		<property name="resourceService">
			<ref bean="resourceService" />
		</property>
		<property name="subscriberService">
			<ref bean="subscriberService" />
		</property>
	</bean>

</beans>