	<div class="header">
		<div class="box">
			<a class="logo" href="$request.contextPath" title="最爱">
			  <img src="$request.contextPath/images/sokeeper/logo.png" alt="sokeeper.com logo" />
			</a>
			<div id="top-search">
				<span class="iconMap movieOn selectMovies"><a>电影</a></span>
				<span class="iconMap musicOff selectMusics"><a>图书</a></span>
				<span class="iconMap musicOff selectMusics"><a>音乐</a></span>
				<span class="iconMap musicOff selectMusics"><a>旅游</a></span>
				<form method="post" name="main_search" id="mainSearchBar" action="$request.contextPath/home/index.htm">
					<div>
					    <input type="hidden" name="topic" value="movie">
						<div id="search_div">
							<input type="text" maxlength="128" name="keywords" class="search_input" value="$!query.keywords" id="search_auto_bar"/>
						</div>
						<input type="submit" id="top_search_bttn" class="iconMap" value="Search" />
					</div>
				</form>
			</div>
		</div>		
		<div class="clear"></div>
	</div>

	<div id="topNavContainer">
		<div class="box">
			<ul id="topMenu">
				<li><a href="$request.contextPath/home/index.htm">电影</a></li>
				<li><a href="$request.contextPath/home/index.htm">图书</a></li> 
				<li><a href="$request.contextPath/home/index.htm">音乐</a></li> 
				<li><a href="$request.contextPath/home/index.htm">旅游</a></li> 
			</ul>
			<ul id="userMenu">
				<li><a href="$request.contextPath/home/login.htm" class="firstMenuLink">Log In</a></li>
				<li><a href="$request.contextPath/home/signup.htm"><span>New User?</span> Sign Up!</a></li>
			</ul>
			<div class="clear"></div> 
		</div>
	</div>
	
	<div class="clear"></div>
	
	<div id="subNav">
		<div class="menu-cat">
			<ul class="menu">
			</ul>
		</div>
	</div>
	
	<div id="container">
		<div id="main_content" class="content">
			<div class="content_right">
				<div class="module_sm">
					<div class="top">
						<!--ie sucks-->
					</div>
					<div class="content">
						<h1 id="homeH1">热门电影</h1>
						<div class="popularMovies">
							<a href="/6pm-coupons" title="6pm Shoes coupons" class="font12" >黑客帝国</a> 
							<a href="/aa-coupons" title="American Airlines coupons" class="font10" >阿甘正转</a> 
							<a href="/aeropostale-coupons" title="Aeropostale coupons" class="font20" >美丽人生</a> </br>
							<a href="/amazon-coupons" title="Amazon coupons" class="font20" >盗梦空间</a> 
							<a href="/apple-coupons" title="Apple coupons" class="font11" >芙蓉镇</a> 
						</div>
					</div>
					<div class="bot">
						<!--ie sucks-->
					</div>
				</div>

				<div class="module_sm">
					<div class="top">
						<!--ie sucks-->
					</div>
					<div class="content">
						<h3>今日热搜</h3>
						<table border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td class="front-top-5-plus">
								  <a href="" class="iconMap plus-lg" >
										55<br/><span class="plus-lg-text">saved</span></a></td>
								<td class="front-top-5-desc">
								  <a href="" >
								  女人</a></td>
							</tr>
							<tr>
								<td class="front-top-5-plus">
								  <a href="" class="iconMap plus-lg" >
										54<br/> <span class="plus-lg-text">saved</span>
								</a></td>
								<td class="front-top-5-desc">
								  <a href="" >	末日</a></td>
							</tr>
						</table>
					</div>
					<div class="bot">
						<!--ie sucks-->
					</div>
				</div>
								
				<div class="module_sm">
					<div class="top">
						<!--ie sucks-->
					</div>
					<div class="content">
						<h3>
							<a href="/answer">给我们留言</a>
						</h3>
						<table id="listRecentQuestions" width="100%" cellspacing="0">
							<tr>
								<td>
								    <a href="" title="">
								      <img src="http://img.dealspl.us/profile_pic/small/82000/82734_1357604237.jpg" width="18" height="18" class="small_img" alt="glwrks"></a></td>
								<td>
								    <a href="">LivingSocial had Cyber-Attack - from email 7/26/13 8:31 PM</a><br/>glwrks 54
									minutes ago</td>
							</tr>
						</table>
						<a class="askLinkBoxSmall" href="">Ask a Question</a>
						<div class="clear"></div>
					</div>
					<div class="bot">
						<!--ie sucks-->
					</div>
				</div>
			</div>

			<div class="content_left">
				<div class="module_lg">
					<div id="allDeals">
						<table id="rowViewRow" cellpadding="0" cellspacing="0" width="100%">
						    <!-- BEGIN -->
						    #foreach($movie in $movies)
							<tr>
								<td class="col1">
									<div class="movie_image_r_div">
										<a href="#" title="$!movie.name"><img class="img-scaling" src="$!movie.imageUrl" width="80" alt="$!movie.name" /></a>
									</div>
								</td>
								<td class="col2">
								    <a href="http://movie.douban.com/subject/$!movie.subjectId" class="title">$!movie.name </a>
									<div class="desc"> $!movie.summary ...</div>
									<div class="desc"> $!movie.info ...</div>
									<div class="desc"> 关键词：
									#foreach($keyword in $movie.keywordCountList)
										$!keyword.key &nbsp
									#end
									</div>
									<div class="desc"> 评分：$!movie.score /10</div>
								</td>
								<td>
								  <div class="plusButtonAbove">
								    <a href="#" class="plusButtonCount"> 
								      <span>4</span>
								    </a> 
								    <a href="" class="PlusButtonLink plusButton" data-type="1"></a>
								  </div>
								</td>
							</tr>
							#end
							<!-- END -->						
						</table>						
					</div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
	<!-- 
	  $!commandExecuted
	-->